<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jeanielam.takeabreak"
    android:versionCode="16"
    android:versionName="1.3" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_teal"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.jeanielam.takeabreak.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jeanielam.takeabreak.InfoActivity"
            android:label="@string/action_settings" />
        <activity
            android:name="com.jeanielam.takeabreak.AppSettingsActivity"
            android:label="@string/settings" />

        <receiver
            android:name="com.jeanielam.takeabreak.AlarmReceiver"
            android:process=":remote" >
           
        </receiver>

        <service
            android:name="com.jeanielam.takeabreak.AlarmNotif"
            android:enabled="true" />
    </application>

</manifest>